In [1]:
#importing the Libraies
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
dataset=pd.read_csv("CKD.csv")

In [3]:
dataset

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,2.000000,76.459948,c,3.0,0.0,normal,abnormal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,yes,no,yes
1,3.000000,76.459948,c,2.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,34.000000,12300.000000,4.705597,no,no,no,yes,poor,no,yes
2,4.000000,76.459948,a,1.0,0.0,normal,normal,notpresent,notpresent,99.000000,...,34.000000,8408.191126,4.705597,no,no,no,yes,poor,no,yes
3,5.000000,76.459948,d,1.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,38.868902,8408.191126,4.705597,no,no,no,yes,poor,yes,yes
4,5.000000,50.000000,c,0.0,0.0,normal,normal,notpresent,notpresent,148.112676,...,36.000000,12400.000000,4.705597,no,no,no,yes,poor,no,yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51.492308,70.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,219.000000,...,37.000000,9800.000000,4.400000,no,no,no,yes,poor,no,yes
395,51.492308,70.000000,c,0.0,2.0,normal,normal,notpresent,notpresent,220.000000,...,27.000000,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
396,51.492308,70.000000,c,3.0,0.0,normal,normal,notpresent,notpresent,110.000000,...,26.000000,9200.000000,3.400000,yes,yes,no,poor,poor,no,yes
397,51.492308,90.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,207.000000,...,38.868902,8408.191126,4.705597,yes,yes,no,yes,poor,yes,yes
398,51.492308,80.000000,a,0.0,0.0,normal,normal,notpresent,notpresent,100.000000,...,53.000000,8500.000000,4.900000,no,no,no,yes,poor,no,no

In [4]:
dataset=pd.get_dummies(dataset,drop_first=True).astype(int)

In [5]:
dataset

,age,bp,al,su,bgr,bu,sc,sod,pot,hrmo,...,pc_normal,pcc_present,ba_present,htn_yes,dm_yes,cad_yes,appet_yes,pe_yes,ane_yes,classification_yes
0,2,76,3,0,148,57,3,137,4,12,...,0,0,0,0,0,0,1,1,0,1
1,3,76,2,0,148,22,0,137,4,10,...,1,0,0,0,0,0,1,0,0,1
2,4,76,1,0,99,23,0,138,4,12,...,1,0,0,0,0,0,1,0,0,1
3,5,76,1,0,148,16,0,138,3,8,...,1,0,0,0,0,0,1,0,1,1
4,5,50,0,0,148,25,0,137,4,11,...,1,0,0,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
394,51,70,0,0,219,36,1,139,3,12,...,1,0,0,0,0,0,1,0,0,1
395,51,70,0,2,220,68,2,137,4,8,...,1,0,0,1,1,0,1,0,1,1
396,51,70,3,0,110,115,6,134,2,9,...,1,0,0,1,1,0,0,0,0,1
397,51,90,0,0,207,80,6,142,5,8,...,1,0,0,1,1,0,1,0,1,1
398,51,80,0,0,100,49,1,140,5,16,...,1,0,0,0,0,0,1,0,0,0

In [6]:
dataset["classification_yes"].value_counts()

classification_yes
1    249
0    150
Name: count, dtype: int64

In [7]:
dataset.columns

Index(['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_normal', 'pc_normal',
       'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes',
       'appet_yes', 'pe_yes', 'ane_yes', 'classification_yes'],
      dtype='object')

In [8]:
indep=dataset[['age', 'bp', 'al', 'su', 'bgr', 'bu', 'sc', 'sod', 'pot', 'hrmo', 'pcv',
       'wc', 'rc', 'sg_b', 'sg_c', 'sg_d', 'sg_e', 'rbc_normal', 'pc_normal',
       'pcc_present', 'ba_present', 'htn_yes', 'dm_yes', 'cad_yes',
       'appet_yes', 'pe_yes', 'ane_yes']]
dep=dataset['classification_yes']

In [9]:
indep.shape

(399, 27)

In [10]:
dep.shape

(399,)

In [11]:
dep

0      1
1      1
2      1
3      1
4      1
      ..
394    1
395    1
396    1
397    1
398    0
Name: classification_yes, Length: 399, dtype: int64

In [12]:
#split into training set and test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(indep, dep, test_size = 1/3, random_state = 0)

In [13]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train_= sc.fit_transform(X_train)
X_test_= sc.transform(X_test)

In [23]:
from sklearn.naive_bayes import MultinomialNB, BernoulliNB, CategoricalNB
from sklearn.model_selection import GridSearchCV
from sklearn.pipeline import Pipeline

# Create a pipeline with a placeholder for Naive Bayes
pipe = Pipeline([
    ('nb', MultinomialNB())  # placeholder, will be replaced in grid
])

# Define parameter grid
param_grid = [
    {
        'nb': [MultinomialNB()],
        'nb__alpha': [0.1, 0.5, 1.0]
    },
    {
        'nb': [BernoulliNB()],
        'nb__alpha': [0.1, 0.5, 1.0],
        'nb__binarize': [0.0, 0.5]
    },
    {
        'nb': [CategoricalNB()],
        'nb__alpha': [0.1, 0.5, 1.0]
    }
]

# GridSearchCV
grid = GridSearchCV(pipe, param_grid, refit=True, cv=5, scoring='accuracy', n_jobs=-1)
grid.fit(X_train, y_train)

print("Best Estimator:", grid.best_estimator_)
print("Best Parameters:", grid.best_params_)
print("Best Score:", grid.best_score_)

# Predict using the best model
y_pred = grid.predict(X_test)

Best Estimator: Pipeline(steps=[('nb', BernoulliNB(alpha=0.1))])
Best Parameters: {'nb': BernoulliNB(), 'nb__alpha': 0.1, 'nb__binarize': 0.0}
Best Score: 0.973654786862334

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\model_selection\_search.py:1108: UserWarning: One or more of the test scores are non-finite: [0.87225716 0.85730259 0.8498253  0.97365479 0.97365479 0.97365479
 0.97365479 0.94374563 0.94374563        nan        nan        nan]
  warnings.warn(

In [24]:
re=grid.cv_results_
#print(re)
grid_predictions = grid.predict(X_test_) 
   

from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, grid_predictions)



# print classification report 
from sklearn.metrics import classification_report
clf_report = classification_report(y_test, grid_predictions)

C:\ProgramData\anaconda3\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but BernoulliNB was fitted with feature names
  warnings.warn(

In [25]:
print(grid.best_params_)

{'nb': BernoulliNB(), 'nb__alpha': 0.1, 'nb__binarize': 0.0}

In [26]:
table=pd.DataFrame.from_dict(re)

In [27]:
table

,mean_fit_time,std_fit_time,mean_score_time,std_score_time,param_nb,param_nb__alpha,param_nb__binarize,params,split0_test_score,split1_test_score,split2_test_score,split3_test_score,split4_test_score,mean_test_score,std_test_score,rank_test_score
0,0.016209,0.009776,0.010396,0.007397,MultinomialNB(),0.1,NaN,"{'nb': MultinomialNB(), 'nb__alpha': 0.1}",0.851852,0.849057,0.886792,0.886792,0.886792,0.872257,0.017824,7
1,0.012605,0.007249,0.007604,0.004672,MultinomialNB(),0.5,NaN,"{'nb': MultinomialNB(), 'nb__alpha': 0.5}",0.814815,0.849057,0.867925,0.886792,0.867925,0.857303,0.024366,8
2,0.009626,0.003336,0.007294,0.002662,MultinomialNB(),1.0,NaN,"{'nb': MultinomialNB(), 'nb__alpha': 1.0}",0.796296,0.849057,0.867925,0.886792,0.849057,0.849825,0.030202,9
3,0.009126,0.001704,0.006263,0.001161,BernoulliNB(),0.1,0.0,"{'nb': BernoulliNB(), 'nb__alpha': 0.1, 'nb__b...",0.981481,0.943396,0.962264,1.000000,0.981132,0.973655,0.019269,1
4,0.009101,0.001811,0.005698,0.000233,BernoulliNB(),0.1,0.5,"{'nb': BernoulliNB(), 'nb__alpha': 0.1, 'nb__b...",0.981481,0.943396,0.962264,1.000000,0.981132,0.973655,0.019269,1
5,0.007815,0.000359,0.005853,0.000422,BernoulliNB(),0.5,0.0,"{'nb': BernoulliNB(), 'nb__alpha': 0.5, 'nb__b...",0.981481,0.943396,0.962264,1.000000,0.981132,0.973655,0.019269,1
6,0.008114,0.000830,0.005587,0.000276,BernoulliNB(),0.5,0.5,"{'nb': BernoulliNB(), 'nb__alpha': 0.5, 'nb__b...",0.981481,0.943396,0.962264,1.000000,0.981132,0.973655,0.019269,1
7,0.010483,0.002886,0.006320,0.001362,BernoulliNB(),1.0,0.0,"{'nb': BernoulliNB(), 'nb__alpha': 1.0, 'nb__b...",0.907407,0.943396,0.924528,0.962264,0.981132,0.943746,0.026194,5
8,0.008324,0.001167,0.006006,0.000770,BernoulliNB(),1.0,0.5,"{'nb': BernoulliNB(), 'nb__alpha': 1.0, 'nb__b...",0.907407,0.943396,0.924528,0.962264,0.981132,0.943746,0.026194,5
9,0.015484,0.001960,0.009631,0.003999,CategoricalNB(),0.1,NaN,"{'nb': CategoricalNB(), 'nb__alpha': 0.1}",0.981481,NaN,NaN,0.981132,NaN,NaN,NaN,10
10,0.017272,0.001492,0.012021,0.007342,CategoricalNB(),0.5,NaN,"{'nb': CategoricalNB(), 'nb__alpha': 0.5}",0.981481,NaN,NaN,0.981132,NaN,NaN,NaN,10
11,0.017741,0.001849,0.009217,0.003854,CategoricalNB(),1.0,NaN,"{'nb': CategoricalNB(), 'nb__alpha': 1.0}",0.981481,NaN,NaN,0.981132,NaN,NaN,NaN,10

In [28]:

from sklearn.metrics import f1_score
f1_macro=f1_score(y_test,grid_predictions,average='weighted')
print("The f1_macro value for best parameter {}:".format(grid.best_params_),f1_macro)

The f1_macro value for best parameter {'nb': BernoulliNB(), 'nb__alpha': 0.1, 'nb__binarize': 0.0}: 0.9109616145627226

In [29]:
print("The confusion Matrix:\n",cm)

The confusion Matrix:
 [[51  0]
 [12 70]]

In [30]:
print("The report:\n",clf_report)

The report:
               precision    recall  f1-score   support

           0       0.81      1.00      0.89        51
           1       1.00      0.85      0.92        82

    accuracy                           0.91       133
   macro avg       0.90      0.93      0.91       133
weighted avg       0.93      0.91      0.91       133